*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(216, 176, 176);
    display:flex;
}

.memory-game{
    /* border: 2px solid purple; */
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
    perspective:1000px;
}
.memory-card{
    /* border: 2px solid aqua; */
    width: calc(25% - 10px);
    position: relative;
    height: calc(33.333%-10px);
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active{
    transform : scale(.97);
    transition: transform .2s;
}


.front-face , .back-face{
    width:100%;
    height: 100%;
    padding:20px;
    background: rgb(240, 206, 163);
    position: absolute;
    /* border: 2px solid lime; */
    border-radius: 8px;
    backface-visibility: hidden;
}
img{
    width: 100px;
}

.memory-card.flip{
transform: rotateY(180deg);

}

.front-face{
    transform: rotateY(180deg);
}